button {
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
    color: var(--primary-text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: inherit;
}
