hr {
    border: none;
    border-bottom: 1px solid #bdbdbd;
    margin: 4rem;
    width: calc(100% - 4rem);
}

span {
    background-color: var(--background-color-light-theme);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 10;
}

.separator-container {
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    position: relative;
    width: 100%;
}
