<div class="dialog-bg">
    <div class="dialog-container">
        <div class="dialog-header">
            <div class="dialog-title">@Title</div>
            <button class="btn btn-close" @onclick=@CloseButtonOnClick />
        </div>
        <div class="dialog-body">
            <div class="dialog-msg">@BodyMsg</div>
        </div>
    </div>
</div>