<button class="achievement-detail-card">
    <div class="header">
        <BackButton Content="<" />
        <CardHeader Prefecture="北海道" Month="2月" NumberOfStay="3泊4日" />
    </div>
    <div class="content-image-container">
        <div class="first-image"></div>
        <div class="second-image"></div>
        <div class="third-image"></div>
    </div>
    <div class="content-description">
        <CardDetailDescription Content="綺麗な景色と美味しい料理を堪能しました。値段もお手頃で満足度高めです。綺麗な景色と美味しい料理を堪能しました。値段もお手頃で満足度高めです。" />
    </div>
    <div class="content-traffic">
        <CardDetailDescription Content="交通手段" />
    </div>
    <div class="footer">
        <CardFooter Content="10,000円 ~ 15,000円/人" />
    </div>
</button>