<button class="achievement-card">
    <div class="header">
        <CardHeader Content="北海道 | 2月 | 3泊4日" />
    </div>
    <div class="content-image"></div>
    <div class="content-description">
        <CardDescription Content="綺麗な景色と美味しい料理を堪能しました。値段もお手頃で満足度高めです。" />
    </div>
    <div class="footer">
        <CardFooter Content="10,000円 ~ 15,000円/人" />
    </div>
</button>