<div class="achievement-card">
    <div class="header">
        <CardHeader />
    </div>
    <div class="content-image"></div>
    <div class="content-description">
        <CardDescription />
    </div>
    <div class="footer">
        <CardFooter />
    </div>
</div>