<table class="calendar">
    <thead>
        <tr>
            <th>日</th>
            <th>月</th>
            <th>火</th>
            <th>水</th>
            <th>木</th>
            <th>金</th>
            <th>土</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><CalendarCell Day="26" /></td>
            <td><CalendarCell Day="27" /></td>
            <td><CalendarCell Day="28" /></td>
            <td><CalendarCell Day="29" /></td>
            <td><CalendarCell Day="30" /></td>
            <td><CalendarCell Day="31" /></td>
            <td><CalendarCell Day="1" /></td>
        </tr>
        <tr>
            <td><CalendarCell Day="2" /></td>
            <td><CalendarCell Day="3" /></td>
            <td><CalendarCell Day="4" /></td>
            <td><CalendarCell Day="5" /></td>
            <td><CalendarCell Day="6" /></td>
            <td><CalendarCell Day="7" /></td>
            <td><CalendarCell Day="8" /></td>
        </tr>
        <tr>
            <td><CalendarCell Day="9" /></td>
            <td><CalendarCell Day="10" /></td>
            <td><CalendarCell Day="11" /></td>
            <td><CalendarCell Day="12" /></td>
            <td><CalendarCell Day="13" /></td>
            <td><CalendarCell Day="14" /></td>
            <td><CalendarCell Day="15" /></td>
        </tr>
        <tr>
            <td><CalendarCell Day="16" /></td>
            <td><CalendarCell Day="17" /></td>
            <td><CalendarCell Day="18" /></td>
            <td><CalendarCell Day="19" /></td>
            <td><CalendarCell Day="20" /></td>
            <td><CalendarCell Day="21" /></td>
            <td><CalendarCell Day="22" /></td>
        </tr>
        <tr>
            <td><CalendarCell Day="23" /></td>
            <td><CalendarCell Day="24" /></td>
            <td><CalendarCell Day="25" /></td>
            <td><CalendarCell Day="26" /></td>
            <td><CalendarCell Day="27" /></td>
            <td><CalendarCell Day="28" /></td>
            <td><CalendarCell Day="29" /></td>
        </tr>
        <tr>
            <td><CalendarCell Day="30" /></td>
            <td><CalendarCell Day="31" /></td>
            <td><CalendarCell Day="1" /></td>
            <td><CalendarCell Day="2" /></td>
            <td><CalendarCell Day="3" /></td>
            <td><CalendarCell Day="4" /></td>
            <td><CalendarCell Day="5" /></td>
        </tr>
    </tbody>
</table>