@page "/achievement"

<ul class="achievement">
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
</ul>