li {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0 .8rem;
    width: 100%;
}

    li:first-child {
        padding-top: .4rem;
    }

    li:last-child {
        padding-bottom: .4rem;
    }

.home {
    align-items: center;
    display: grid;
    height: 100%;
    justify-content: center;
    row-gap: .8rem;
    width: 100%;
}
