@page "/home"

<ul class="home">
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
</ul>