@page "/"

<PageTitle>Login</PageTitle>

<TitleLabel Content="hitabi" />

<LoginButton Content="Google" />

<div class="separator-container">
    <hr />
    <span>OR</span>
</div>

<LoginButton Content="LINE" />