@page "/plan-list"

<ul class="plan-list">
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <AchievementCard />
    </li>
    <li>
        <SquareAddCard />
    </li>
</ul>