.add-button {
    align-items: center;
    background-color: var(--background-color-light-theme);
    border-radius: 50%;
    display: flex;
    height: 4rem;
    justify-content: center;
    width: 4rem;
}

    .add-button:active {
        box-shadow: none;
    }
